MARIADB_ROOT_USER=
MARIADB_ROOT_PASSWORD=
MARIADB_LOCAL_PORT=3306
MARIADB_DOCKER_PORT=3306

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DOCKER_PORT=6379
REDIS_LOCAL_PORT=6379

SPRING_LOCAL_PORT=
SPRING_DOCKER_PORT=

MODEL_LOCAL_PORT=5000
MODEL_DOCKER_PORT=5000
MODEL_ISDEBUG=True

JWT_SECRET=

EMAIL_USERNAME=
EMAIL_PASSWORD=

SPRING_ENV=prod
BACKEND_ORIGIN=127.0.0.1:8080
CLIENT_PATH=http://127.0.0.1:3000
REACT_APP_ENV=PRODUCTION
SPRING_ENV=prod