MARIADB_ROOT_USER=
MARIADB_ROOT_PASSWORD=
MARIADB_LOCAL_PORT=
MARIADB_DOCKER_PORT=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=

SPRING_LOCAL_PORT=
SPRING_DOCKER_PORT=

MODEL_LOCAL_PORT=
MODEL_DOCKER_PORT=
MODEL_ISDEBUG=

JWT_SECRET=

EMAIL_USERNAME=
EMAIL_PASSWORD=