MARIADB_HOST=
MARIADB_PORT=
MARIADB_DB=
MARIADB_USERNAME=
MARIADB_PASSWORD=

MINIO_HOST=
MINIO_PORT=
MINIO_ACCESS=
MINIO_KEY=
MINIO_BUCKET=

JWT_SECRET=

CLIENT_HOST=
CLIENT_PORT=

EMAIL_USERNAME=
EMAIL_PASSWORD=

KDC_HOST=
KDC_PORT=

APP_HOST=
APP_PORT=

ENV=